<h1>Informacion regional</h1>
<button class="btn btn-success" data-ng-click="newInfo()">Nueva información regional</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Zona</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="sinfo in statics_infos">
        <td>{{sinfo.title}}</td>
        <td>{{zones[sinfo.zone_id]._name}}</td>
        <td class="text-right">
            <button class="btn btn-default" data-ng-click="edit(sinfo)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button class="btn btn-default" data-ng-click="delete(sinfo)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
      </tr>
    </tbody>
  </table>