<div class="moda-header dialog-header-confirm" style="padding: 15px;">
    <h3 class="panel-title" style="color:white">Denuncias</h3>
</div>
<div class="panel-body">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 static-gallery">
                <strong>Galeria de imagenes disponibles</strong><br>
                <div>
                    <input type="file" id="filelogo" class="inputfile" image-control accept=".jpg, .png" base-sixty-four-input ng-model="image"></input>
                    <label for="filelogo" class="btn btn-success">Cargar imagen</label>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div data-ng-repeat="img in availableImages" data-ng-click="selectImage('uploads/staticinfo/' + img)" class="static-image-container">
                            <div class="divimage" style="background: url('uploads/staticinfo/{{img}}') no-repeat;">
                                <!-- <img data-ng-src="uploads/staticinfo/{{img}}" class="img-responsive"/> -->
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<div class="panel-footer text-right">
    <button class="btn btn-default" data-ng-click="close()">Cerrar</button>
</div>
