<h2 class="text-center">Información estática de la Zona</h2>
<uib-tabset active="langsettings.selectedTab">
    <uib-tab data-ng-select="langsettings.selectedTab=$index" index="$index"
        data-ng-repeat="lang in languages track by $index" heading="{{lang._name}}">
        <div class="post-tab-content">


            <br>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label for="title">Titulo</label>
                </div>
                <div class="col-md-5">
                    <input type="text" data-ng-model="staticinfo.title[lang.id]" class="form-control" 
                        placeholder="Ingrese el titulo" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label for="zone">Zona</label>
                </div>
                <div class="col-md-5">
                    <select data-ng-model="staticinfo.zone_id" class="form-control"
                        ng-options="zone.id as zone._name for zone in zones">
                    </select>
                </div>
            </div>

            <br>
            <hr>
            <!-- Modulos -->
            <div data-ng-repeat="module in modules track by $index" class="sinfo-module"
                ng-click="edit(module, $index)" ng-class="{'sinfo-editing' : $index == selectedClass.index}">
                <div class="col-md-6 col-md-offset-3">
                    <div class="pull-right" style="cursor:pointer" data-ng-click="removeModule($index)"><i
                            class="glyphicon glyphicon-remove"></i></div>

                    <div class="pull-left" style="cursor:pointer" data-ng-click="move($index, -1)"><i
                            class="glyphicon glyphicon-arrow-up"></i></div>
                    <div class="pull-left" style="cursor:pointer" data-ng-click="move($index, 1)"><i
                            class="glyphicon glyphicon-arrow-down"></i></div>

                    <div class="clearfix"></div>

                </div>
                <!-- Clase TITULO -->
                <div data-ng-if="module.template.type == 'title'" class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1>{{module.mdata[lang.id].title}}</h1>
                        <h2 style="color:RED"
                            data-ng-if="!checkTranslationExists[module.template.type](lang.id, module)">Falta traducción
                        </h2>
                    </div>
                </div>
                <!-- Clase Parrafo -->
                <div data-ng-if="module.template.type == 'p'" class="row">
                    <div class="col-md-6 col-md-offset-3 text-left">
                        <p>{{module.mdata[lang.id].p}}</p>
                        <h2 style="color:RED"
                            data-ng-if="!checkTranslationExists[module.template.type](lang.id, module)">Falta traducción
                        </h2>

                    </div>
                </div>
                <!-- Clase Lista -->
                <div data-ng-if="module.template.type == 'list'" class="row">
                    <div class="col-md-6 col-md-offset-3 text-left">
                        <ul>
                            <li data-ng-repeat="item in parseList(module.mdata[lang.id].list) track by $index">{{item}}
                            </li>
                        </ul>
                        <h2 style="color:RED"
                            data-ng-if="!checkTranslationExists[module.template.type](lang.id, module)">Falta traducción
                        </h2>

                    </div>
                </div>
                <!-- Clase Imagen -->
                <div data-ng-if="module.template.type == 'image'" class="row">
                    <div class="col-md-6 col-md-offset-3 text-left">
                        <img data-ng-src="{{module.template.image}}" style="width:100%" />
                        <h2 style="color:RED"
                            data-ng-if="!checkTranslationExists[module.template.type](lang.id, module)">Falta traducción
                        </h2>

                    </div>
                </div>
                <!-- Clase Subtitulo -->
                <div data-ng-if="module.template.type == 'subtitle'" class="row">
                    <div class="col-md-6 col-md-offset-3 text-left">
                        <h3 style="color:gray;">{{module.mdata[lang.id].subtitle}}</h3>
                        <h2 style="color:RED"
                            data-ng-if="!checkTranslationExists[module.template.type](lang.id, module)">Falta traducción
                        </h2>

                    </div>
                </div>
                <!-- Clase Tabla -->
                <div data-ng-if="module.template.type == 'table'" class="row">
                    <div class="col-md-6 col-md-offset-3 text-left">
                        <h2 style="color:RED"
                            data-ng-if="!checkTranslationExists[module.template.type](lang.id, module)">Falta traducción
                        </h2>

                        <table class="table table-condensed">
                            <thead>
                                <th data-ng-repeat="xx in [].constructor(module.template.cols) track by $index">
                                    {{module.mdata[lang.id][$index + '-0']}}
                                </th>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="yy in [].constructor(module.template.rows) track by $index"
                                    ng-init="yIndex = $index" data-ng-if="$index > 0">
                                    <td data-ng-repeat="xx in [].constructor(module.template.cols) track by $index"
                                        ng-init="xIndex = $index">
                                        {{module.mdata[lang.id][xIndex + '-' + yIndex]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>

            <!-- Fin de modulos -->
            <br>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 moduleeditor">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" data-ng-repeat="cl in classes">
                                    <a class="nav-link"
                                        data-ng-class="{'selclass' : selectedClass && selectedClass.template.type == cl.template.type}"
                                        data-ng-click="selectClass(cl)" href="">{{cl.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" data-ng-if="selectedClass.template">
                        <div class="col-xs-12">
                            <div class="moduleeditor-content">
                                <button class="btn btn-default btn-sm"
                                    ng-class="{'active' : langsettings.selectedTab == $index}"
                                    ng-click="langsettings.selectedTab=$index"
                                    data-ng-repeat="lang in languages track by $index">
                                    {{lang._name}}
                                </button>


                                <button ng-hide="selectedClass.index >= 0"
                                 class="btn btn-primary btn-sm pull-right"
                                    data-ng-click="add()">Agregar</button>
                                <button ng-show="selectedClass.index >= 0" 
                                class="btn btn-success btn-sm  pull-right"
                                    data-ng-click="saveEdit()">Guardar</button>
                                <button ng-show="selectedClass.index >= 0" 
                                class="btn btn-warning btn-sm  pull-right"
                                    data-ng-click="cancelEdit()">Descartar edición</button>



                            </div>

                        </div>
                    </div>

                    <!-- CLASE TITULO -->
                    <div class="row" data-ng-if="selectedClass.template.type == 'title'">
                        <div class="col-sm-12">
                            <div class="moduleeditor-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Ingrese un título</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input class="form-control" placeholder="Titulo..."
                                            data-ng-model="selectedClass.mdata[lang.id].title" />
                                    </div>
                                </div>
                                <br>
                               
                            </div>
                        </div>
                    </div>
                    <!-- FIN TITULO -->
                    <!-- CLASE TITULO -->
                    <div class="row" data-ng-if="selectedClass.template.type == 'subtitle'">
                        <div class="col-sm-12">
                            <div class="moduleeditor-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Ingrese un subtítulo</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input class="form-control" placeholder="Subtitulo..."
                                            data-ng-model="selectedClass.mdata[lang.id].subtitle" />
                                    </div>
                                </div>
                                <br>
                             
                            </div>
                        </div>
                    </div>
                    <!-- FIN subTITULO -->
                    <!-- CLASE PARRAFO -->
                    <div class="row" data-ng-if="selectedClass.template.type == 'p'">
                        <div class="col-sm-12">
                            <div class="moduleeditor-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Escriba el párrafo</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <textarea class="form-control" placeholder="Parrafo..." rows="3"
                                            data-ng-model="selectedClass.mdata[lang.id].p"></textarea>
                                    </div>
                                </div>
                                <br>
                              
                            </div>
                        </div>
                    </div>
                    <!-- FIN PARRAFO -->
                    <!-- CLASE LISTA -->
                    <div class="row" data-ng-if="selectedClass.template.type == 'list'">
                        <div class="col-sm-12">
                            <div class="moduleeditor-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Escriba cada elemento de la lista uno debajo de otro, apretando "enter"</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <textarea class="form-control" rows="3"
                                            data-ng-model="selectedClass.mdata[lang.id].list"></textarea>
                                    </div>
                                </div>
                                <br>
                                
                            </div>
                        </div>
                    </div>
                    <!-- FIN LISTa -->
                    <!-- CLASE TABLA -->
                    <div class="row" data-ng-if="selectedClass.template.type == 'table'">
                        <div class="col-sm-12">
                            <div class="moduleeditor-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Ingrese los datos de la tabla</p>
                                        <button class="btn btn-default btn-sm" data-ng-click="addRow()">Agregar
                                            fila</button>
                                        <button class="btn btn-default btn-sm" data-ng-click="removeRow()"
                                            data-ng-disabled="selectedClass.table.length <= 1">Quitar fila</button>
                                        <button class="btn btn-default btn-sm" data-ng-click="addCol()">Agregar
                                            columna</button>
                                        <button class="btn btn-default btn-sm" data-ng-click="removeCol()"
                                            data-ng-disabled="selectedClass.table[0].length <= 1">Quitar
                                            columna</button>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">


                                        <table class="table table-condensed">
                                            <thead>
                                                <th
                                                    data-ng-repeat="xx in [].constructor(selectedClass.template.cols) track by $index">
                                                    <input class="form-control"
                                                        data-ng-model="selectedClass.mdata[lang.id][  $index + '-0']">
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="yy in [].constructor(selectedClass.template.rows) track by $index"
                                                    ng-init="yIndex = $index" data-ng-if="$index > 0">
                                                    <td data-ng-repeat="xx in [].constructor(selectedClass.template.cols) track by $index"
                                                        ng-init="xIndex = $index">
                                                        <input class="form-control"
                                                            data-ng-model="selectedClass.mdata[lang.id][xIndex + '-' + yIndex]">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- <table class="table table-condensed">
                                                    <thead>
                                                        <th data-ng-repeat="ti in selectedClass.table[0] track by $index">
                                                            <input class="form-control" data-ng-model="ti.text">
                                                        </th>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="ti in selectedClass.table track by $index" data-ng-if="$index > 0">
                                                            <td data-ng-repeat="datum in ti">
                                                                <input class="form-control" data-ng-model="datum.text">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>-->





                                    </div>
                                </div>
                                <br>
                                <!--<div class="row">
                                    <div class="col-sm-12 text-right">
                                        <button ng-hide="selectedClass.index" class="btn btn-primary btn-sm"
                                            data-ng-click="add()">Agregar</button>
                                        <button ng-show="selectedClass.index" class="btn btn-success btn-sm"
                                            data-ng-click="saveEdit()">Guardar</button>
                                        <button ng-show="selectedClass.index" class="btn btn-warning btn-sm"
                                            data-ng-click="cancelEdit()">Descartar edición</button>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <!-- FIN TABLA -->
                    <!-- CLASE IMAGEN -->
                    <div class="row" data-ng-if="selectedClass.template.type == 'image'">
                        <div class="col-sm-12">
                            <div class="moduleeditor-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Seleccione la imagen</p>
                                    </div>
                                </div>
                                <div class="row" data-ng-if="selectedClass.template.image">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <img style="width:100%" data-ng-src="{{selectedClass.template.image}}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-default btn-sm" data-ng-click="openGallery()">Abrir
                                            galeria</button>
                                    </div>
                                </div>
                                <br>
                                
                            </div>
                        </div>
                    </div>
                    <!-- FIN Imagen -->
                </div>
            </div>
            <br>


            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button class="btn btn-block btn-success" data-ng-disabled="!valid()" data-ng-click="save()">Guardar</button>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>




