.static-gallery {
    border: 1px solid lightgray;
    border-radius: 4px;
}
.static-image-container {
    border: 1px solid lightgray;
    padding: 5px;
    height: 80px;
    width: 80px;
    float: left;
    margin: 3px;
    cursor: pointer;
}

.static-image-container:hover {
    box-shadow: 0px 2px 3px gray;
}

.divimage {
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

.moduleeditor {
    border: 1px solid gray;
    background: white;
    border-radius: 3px;
    padding: 8px;
}

.moduleeditor-content {
    background: #eee;
    padding: 8px;
}
.selclass { 
    border: 1px solid lightgray;
    background: #eee;
    border-bottom: none;
}
.sinfo-module {
    cursor: pointer;
    transition: all 0.1s  ease-in;
}
.sinfo-module:hover {
    transform: scale(1.03);
}
.sinfo-editing {
    background: lightblue;
}