<div class="row">
    <div class="col-sm-12 text-center">
        <hr>
        <h1> Datos de Usuario </h1>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-sm-4">
                <label for=""> Cuit/Cuil </label>
            </div>
            <form name="form">
                <div class="col-sm-8">
                    <input class="form-control" data-ng-model="accountData.cuit" ng-pattern="pattern"></input>
                </div>
        </div>
        </form>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for=""> Razon Social </label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" data-ng-model="accountData.bussiness_name"></input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for=""> Telefono </label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" data-ng-model="accountData.phone"></input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Localidad</label>
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Provincia" data-ng-model="accountData.province"></input>
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Ciudad" data-ng-model="accountData.city"></input>
            </div>
            <div class="col-sm-2">
                <input class="form-control" placeholder="Codigo postal" data-ng-model="accountData.postal_code"></input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for=""> Direccion </label>
            </div>
            <div class="col-sm-4">
                <input class="form-control" placeholder="Calle" data-ng-model="accountData._address"></input>
            </div>
            <div class="col-sm-4">
                <input class="form-control" placeholder="Numero" data-ng-model="accountData.address_number"></input>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-success" data-ng-disabled="!validate()" data-ng-click="saveAccountData()">Guardar
                    datos</button>
            </div>
        </div>
        <hr>

    </div>

    <!-- Confirm button -->
</div>
