<div class="row">
    <div class="col-sm-12 text-center">
        <hr>
        <h1> Cambio de Contraseña </h1>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-sm-4">
                <label for=""> Contraseña Antigua </label>
            </div>
            <div class="col-sm-8">
                <input type="password" class="form-control" data-ng-model="data.password"></input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for=""> Nueva Contraseña </label>
            </div>
            <div class="col-sm-8">
                <input type="password" class="form-control" data-ng-model="data.newPassword"></input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for=""> Repita la Contraseña </label>
            </div>
            <div class="col-sm-8">
                <input type="password" class="form-control" data-ng-model="data.rptNewPassword"></input>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-success" data-ng-disabled="!validate()" data-ng-click="changePassword()">Guardar
                    cambios</button>
            </div>
        </div>
    </div>


</div>