<div class="row">
    <div class="col-sm-12">
        <h1>Administracion de clientes</h1>
    </div>
</div>
<div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <strong>Ordenar por</strong>
                <select data-ng-model="filter.mode" data-ng-change="getClients()" class="form-control" style="width: 200px; display:inline">
                    <option value="register_date" selected>Fecha de registro</option>
                    <option value="reports_first">Denuncias no vistas</option>
                    <option value="posts_amount">Cantidad de publicaciones</option>
                </select>
              
            </div>
        </div>
    </div>
    
<div data-ng-repeat="cl in clients">

    <div class="row client-list-item">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <strong>Nombre: </strong>{{cl.name}}<br>
                    <strong>Apellido: </strong>{{cl.lastname}}<br>
                    <strong>Correo electronico: </strong>{{cl.email}}<br>
                    <!-- Para ver si puede cargar eventos -->
                    <label data-ng-attr-for="chkbx{{cl.id}}"><strong>Puede cargar eventos</strong></label>
                    <input data-ng-attr-id="chkbx{{cl.id}}" type="checkbox" data-ng-model="cl.eventManager" data-ng-change="cl.edited = true"/> 
                </div>
                <div class="col-sm-6">
                    <strong>Metodo de pago</strong>
                    <select data-ng-model="cl.payment_method_id" data-ng-disabled="cl.active" data-ng-options="pm.id as pm.name for pm in paymentMethods"
                        class="form-control" style="width: 400px;">
                    </select>
                </div>
            </div>
            <!-- Acciones -->
            <div class="row">
                <div class="col-md-6">
                    <strong style="color:red" data-ng-hide="cl.active">Cuenta sin habilitar</strong>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" data-ng-hide="cl.active" data-ng-disabled="!cl.payment_method_id"
                        data-ng-click="enableAccount(cl)">Activar cuenta</button>
                    <button class="btn btn-danger" data-ng-disabled="!cl.active" data-ng-click="disableAccount(cl)">Desactivar
                        cuenta</button>
                    <button type="button" class="btn btn-primary" data-ng-disabled="!cl.active" data-toggle="collapse" data-ng-click="getPostsUser(cl)">Publicaciones</button>
                    <button class="btn btn-success" data-ng-click="save(cl)" data-ng-disabled="!cl.edited">Guardar</button>
                    <!-- <button class="btn btn-warning" title="Ver denuncias" data-ng-disabled="p.reports_count == 0"  role="button" data-ng-click="openReports(cl)">
                        Ver denuncias
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </button>-->
                    <hr>
                </div>
            </div>
            <div class="row" uib-collapse="!cl.posts">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th> Publicacion </th>
                            <th> Tipo </th>
                            <th> Estado</th>
                            <th> Información</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in cl.posts">
                            <td>{{p._name}}</td>
                            <td>{{p._type}}</td>
                            <td>
                                <span class="label label-success" data-ng-show="p._status == 'active'">Activa</span>
                                <span class="label label-danger" data-ng-show="p._status == 'blocked'">Bloqueada</span>
                            </td>
                            <td>
                                <span class="label label-warning" data-ng-show="p.reports_count > 0">Denuncias: {{p.reports_count}}</span><br>
                                <span class="label label-danger" data-ng-show="p.not_seen_reports_count > 0">Denuncias no vistas: {{p.not_seen_reports_count}}</span>
                            </td>
                            <td class="text-right">
                                 <button class="btn btn-default btn-xs" title="Desactivar publicación" data-ng-disabled="p._status == 'blocked'"  role="button" data-ng-click="deletePostUser(cl, p.id)">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button class="btn btn-default btn-xs" title="Activar publicación" data-ng-disabled="p._status == 'active'"  role="button" 
                                data-ng-click="activatePost(cl, p)">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <br>
</div>