<h1>Iniciar sesion</h1>
<hr>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

      <div class="panel panel-primary">
        <div class="panel-heading">
          Inicio de sesión
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4 col-xs-12">
                <label>Usuario</label>
            </div>
            <div class="col-md-8 col-xs-12">
                <input type="text" class="form-control" data-ng-model="data.user"></input>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4 col-xs-12">
                <label>Contraseña</label>
            </div>
            <div class="col-md-8 col-xs-12">
                <input type="password" class="form-control" data-ng-enter="isValid() && login()" data-ng-model="data.password"></input>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success pull-right" data-ng-disabled="!isValid()" data-ng-click="login()">Ingresar</button>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>
  </div>
