<div class="row">
    <div class="col-sm-12 text-center">
        <hr>
        <h1>Registrar nuevo administrador</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="row">
            <div class="col-sm-12 alert alert-success">
                <p>Ingrese los datos del nuevo administrador. Recibirá las credenciales de acceso al correo electrónico asignado</p>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-12 alert alert-warning">
                <p>A MODO DE PRUEBA, CUALQUIREA SEA EL EMAIL INGRESADO SE ENVIARA A scalone.enzo@gmail.com</p>
            </div>
        </div>
        -->

        <div class="row">
            <div class="col-sm-4">
                <label for="">Nombre</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" data-ng-model="newUser.name"/>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Correo electrónico</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="email" data-ng-model="newUser.email"></input>
            </div>
        </div>
    </div>
</div>
<!-- Confirm button -->
<br><br>
<div class="row">
    <div class="col-sm-12 text-center">
        <button class="btn btn-success" data-ng-disabled="!validate() || ajaxLoading > 0" data-ng-click="register()">Registrar administrador</button>
    </div>
</div>
<hr>
