
<div class="welcome-banner margin10">
    <h1 class="text-center">Registro</h1>
    <p class="text-center">Por favor, ingrese los siguientes datos. Una vez que confirme el registro, un administrador deberá dar de alta
    su cuenta para que pueda comenzar a utilizarla.</p>
    <p class="text-center">Los campos con asterisco son obligatorios</p>

    <div class="row">
        <div class="col-md-4 text-right">
            <label>Nombre/s <span style="color:red">*</span></label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" data-ng-model="newUser.name"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-right">
            <label>Apellido/s  <span style="color:red">*</span></label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" data-ng-model="newUser.lastname"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-right">
            <label>Correo electrónico  <span style="color:red">*</span></label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model-options='{ debounce: 1000 }'
        ng-change='checkEmailUssage()' data-ng-model="newUser.email"/>
        </div>
        <div class="col-md-4">
            <span style="color:red" data-ng-show="emailInUse">Correo electronico en uso</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-right">
            <label>Contraseña  <span style="color:red">*</span></label>
        </div>
        <div class="col-md-4">
            <input type="password" autocomplete="off" class="form-control" data-ng-model="newUser.password"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-right">
            <label>Confirme contraseña  <span style="color:red">*</span></label>
        </div>
        <div class="col-md-4">
            <input type="password" autocomplete="off" class="form-control" data-ng-model="newUser.passwordConfirmation"/>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 text-center">
        <button class="cool-btn btn-block" data-ng-click="signup()" data-ng-disabled="!valid()">Registrarse</button>
      </div>
    </div>

</div>
