body {
  font-family: 'Montserrat', sans-serif;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.databox {
  border: 2px solid #aaa;
    border-radius: 5px;
    padding: 5px;
}


.tapador {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 123123;
  top: 0;
  left: 0;
  font-size: xx-large;
color: blanchedalmond;
text-align: center;
padding-top: 50vh;
text-shadow: 1px 1px 50px #000;
}


.minicartel{
  position: fixed;
  width: 300px;
  margin-left: -150px;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 14px;
    border-radius: 7px;
}




.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
