<h1>Pago de publicaciones</h1>
<span data-ng-show="!user.info" style="color:red;font-size: 20px;">Para poder realizar compras, debe ingresar los datos de contacto en la configuración de su cuenta.</span>

<table class="table">
    <thead>
        <th>Publicacion</th>
        <th>Estado</th>
        <th>Tiempo a pagar</th>
    </thead>
    <tbody>
        <tr data-ng-repeat="p in posts">
          <td>{{p._name}} <span data-ng-show="p._status != 'active'"><strong>(NO DISPONIBLE)</strong></span></td>
          <td>
            <span style="color:#090" data-ng-if="p._type != 'event'" data-ng-show="p.secondsToExpire > 0">Publicacion activa</span>
            <span style="color:#900" data-ng-if="p._type != 'event'" data-ng-show="p.secondsToExpire == 0">Publicacion vencida</span>

          
          </td>
          <td>
              <select data-ng-hide="!canBuyTime(p)" data-ng-model="p.payment_type_selected" class="form-control"
               data-ng-options="pr.name for pr in promosByType[p._type]" data-ng-change="calculateTotal()"/>
              <button class="btn btn-danger" data-ng-show="p.secondsToExpire > 0" data-ng-click="cancelTimePost(p)">Cancelar suscripción</button>
          </td>
        </tr>
        <tr class="text-right" style="font-size: 15px;">
          <td colspan="2"></td>
          <td><strong>Total: </strong>{{total | currency : '$' : 2}}<br><br>
            
          </td>
        </tr>
        <tr class="text-right"  style="font-size: 15px;">
          <td colspan="2"></td>
          <td><strong>Saldo a favor: </strong>{{user.balance | currency : '$' : 2}}<br><br>
           
          </td>
        </tr>
        <tr class="text-right" style="font-size: 15px;">
          <td colspan="2"></td>
          <td><strong>Total a pagar: </strong>{{((total - user.balance) < 0 ? 0 : (total - user.balance) ) | currency : '$' : 2}}<br><br>
            <button class="btn btn-success btn-block" data-ng-disabled="total == 0 || !user.info || onPayment" data-ng-click="startPayment()">

              {{onPayment ? 'Por favor, espere...' : 'Pagar' }}

              <div class="loader"  data-ng-show="onPayment" style="float: right"></div>

            </button>
          </td>
        </tr>
    </tbody>
</table>
