<h2>Lenguajes</h2>
<h4>Orden de preferencia</h4>
<p>En caso de que algún proveedor no haya realizado la traducción a cada lenguaje, se utilizara el orden de preferencia para definir cual traducción mostrar a cambio</p>

<div class="pref_lang_block">
    Mas preferente
</div>
<div class="pref_lang_block" data-ng-repeat="lang in languages">
    <i class="glyphicon glyphicon-arrow-left" style="cursor:pointer" 
    data-ng-click="swapLang($index, -1)" data-ng-hide="$first"></i>

    {{lang._name}}
    <i class="glyphicon glyphicon-arrow-right" style="cursor:pointer"
    data-ng-click="swapLang($index, 1)"  data-ng-hide="$last"></i>

</div>
<div class="pref_lang_block">
    Menos preferente
</div>
<br>
<div class="clearfix"></div>
<br>
<button class="btn btn-success"  data-ng-click="saveLanguagePreference()">
    Guardar
</button>
<br><br>
<h4><strong>Instalados</strong></h4>

<table class="table table-condensed">
    <thead>
        <th>Lenguaje</th>
        <th>
            <button class="btn btn-primary" data-ng-click="createLanguage()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </th>
    </thead>
    <tbody>
        <tr data-ng-repeat="lang in languages track by $index" data-ng-class="{'active': selected == lang}"
            >
            <td data-ng-hide="lang.edit" data-ng-click="select(lang)" style="cursor:pointer">{{lang._name}}
                <span data-ng-show="lang.missing_translations" class="label label-warning">
                    <i class="glyphicon glyphicon-warning-sign"></i>
                    Faltan traducir elementos</span>

            </td>
            <td data-ng-show="lang.edit">
                <input type="text" id="lang-item-{{$index}}" data-ng-model="lang.name" />
            </td>

            <td>
                <!-- Opciones -->
                <!--<button class="btn btn-success" data-ng-disabled="!valid(lang)" data-ng-click="save(lang)">
                    Guardar
                </button> -->
                <!--<button class="btn btn-default" data-ng-class="{'btn-success' : lang.is_native}"
                    data-ng-disabled="!lang.id" data-ng-click="setNative(lang)">
                    Principal
                </button>-->
                <button class="btn btn-danger" data-ng-show="languages.length > 1" data-ng-click="removeLanguage(lang.id, lang._name)">
                    Borrar
                </button>
            </td>
        </tr>
    </tbody>
</table>

<hr>

<div class="row" uib-collapse="!selected">
    <div class="col-xs-12">
        <button class="btn btn-success" data-ng-disabled="!valid(selected)" data-ng-click="save(selected)">
            Guardar
        </button>
        <br>

        <table class="table table-condensed">
            <thead>
                <th style="width: 50%">Mensaje</th>
                <th>Traducción</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="key in selected.translations">
                    <td>
                        {{nativeTranslation[key._key]}} <br>
                        <small style="color: lightgray">{{key.description}}</small>
                    </td>
                    <td>
                        <input type="text" class="form-control" data-ng-model="key.translation" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>