<h1>Precios</h1>
<button class="btn btn-success" data-ng-click="save()">Guardar</button>
<div class="row"  uib-collapse="!validationMessages || validationMessages.length == 0">
  <br>
  <div class="col-sm-12">
      <div class="alert alert-danger">
          <p data-ng-repeat="m in validationMessages">
            {{m}}
          </p>
      </div>
  </div>
  
</div>


<table class="table">
    <thead>
        <th class="col-sm-2">Tipo</th>
        <th class="col-sm-3">Nombre</th>
        <th class="col-sm-3">Tiempo</th>
        <th class="col-sm-3">Precio (Pesos)</th>
        <th class="col-sm-1"></th>
    </thead>
    <tbody  data-ng-repeat="(name, promos) in allPromos">
      <tr>
        <td colspan="4">{{name}}
           
        </td>
        <td> <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newPromo(name, promos)" style="margin-right: 8px;"><span
          class="glyphicon glyphicon-plus"></span></a></td>
      </tr>
      <tr data-ng-repeat="pr in promos track by $index" data-ng-class="{'new-promo' : !pr.id || pr.edited}">
          <td></td>
          <td>
            <span data-ng-hide="pr.editing" data-ng-bind="pr.name"></span>
            <input data-ng-show="pr.editing" style="width: 200px" class="form-control  input-sm" data-ng-model="pr.name"/>
          </td>
          <td>
            <span data-ng-hide="pr.editing">{{secondsToStr(pr.time)}}</span>
            <input type="number" min="1" class="form-control input-sm" style="width: 200px; display:inline" data-ng-show="pr.editing" data-ng-model="pr.days" data-ng-change="pr.time = pr.days * 24 * 60 * 60"/>
            {{pr.editing ? ' días' : ''}}
            
          </td>
          <td>
            <span data-ng-hide="pr.editing">{{pr.price | currency : '$' : 2}}</span>
            <input type="number" data-ng-show="pr.editing" class="form-control  input-sm" style="width: 200px" data-ng-model="pr.price"/>
              
          </td>
          <td>
              <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removePromo(promos, $index)" style="margin-right: 8px;"><span
                class="glyphicon glyphicon-remove"></span></a>
                <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="edit(pr)" style="margin-right: 8px;"><span
                class="glyphicon glyphicon-pencil"></span></a>
          </td>
      </tr>
    </tbody>
  
</table>
