<div class="mainbanner">
  <span class="maintitle">Turismo Móvil</span> <br>
  <span class="maindesc">Promocione su servicio a los visitantes de la región.</span><br><br>
  <a href="#!/signup" class="mainbutton">¡REGISTRARSE AHORA!</a><br><br>
  <span>¿Preguntas? Envíe su consulta a email@servicio.com</span>
</div>

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-4 promopadding">
        <div class="row">
          <div class="col-md-12 mainpromo">
            <br>
            <div class="row">
              <div class="col-sm-12 text-center">
                  <span class="mainpromo-title">Gratis</span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12 text-left">
                  <p class="mainpromo-features-title">Detalle:</p>
                  <p>El servicio gratuito incluye las siguientes características:</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <i class="glyphicon glyphicon-ok" style="color: #0a0;"></i> Titulo de la publicación <br>
                  <i class="glyphicon glyphicon-ok" style="color: #0a0;"></i> Teléfono <br>
                  <i class="glyphicon glyphicon-ok" style="color: #0a0;"></i> Dirección <br>
                  <i class="glyphicon glyphicon-ok" style="color: #0a0;"></i> Logo <br>
                  <i class="glyphicon glyphicon-ok" style="color: #0a0;"></i> Posición geográfica <br>
                  <i class="glyphicon glyphicon-ok" style="color: #0a0;"></i> Link a página web <br>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12 text-center">
                <span class="promoprice" style="font-weight: bolder;">Precio</span><br>
                <span class="promoprice">$0.00</span>
              </div>
            </div>
            <br><br>
          </div>
        </div>
    </div>

    <div class="col-md-4 promopadding">
      <div class="row">
        <div class="col-md-12 mainpromo">
          <br>
          <div class="row">
            <div class="col-sm-12 text-center">
                <span class="mainpromo-title">Plata</span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 text-left">
                <p class="mainpromo-features-title">Detalle:</p>
                <p>Junto con las características del servicio gratuito, se incluyen los siguientes beneficios:</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <i class="glyphicon glyphicon-ok" style="color: #0a0;"></i> Descripción del servicio <br>
                <i class="glyphicon glyphicon-ok" style="color: #0a0;"></i> Posiciónes resaltadas en los resultados de busqueda <br>
                <br><br>
              </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 text-center">
              <span class="promoprice" style="font-weight: bolder;">Precios</span><br>
              <div data-ng-repeat="rep in promos['silver']">
                <span class="promoprice2">{{rep.name}}</span>
                <br><br>
              </div>
            </div>
          </div>
          <br><br>
        </div>
      </div>
  </div>
   
  <div class="col-md-4 promopadding">
    <div class="row">
      <div class="col-md-12 mainpromo">
        <br>
        <div class="row">
          <div class="col-sm-12 text-center">
              <span class="mainpromo-title">Oro</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12 text-left">
              <p class="mainpromo-features-title">Detalle:</p>
              <p>Junto con las características del servicio gratuito y plata, se incluyen los siguientes beneficios:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <i class="glyphicon glyphicon-ok" style="color: #0a0;"></i> Album de fotos <br>
              <br><br><br><br>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12 text-center">
            <span class="promoprice" style="font-weight: bolder;">Precios</span><br>
            <div data-ng-repeat="rep in promos['gold']">
              <span class="promoprice2">{{rep.name}}</span>
              <br><br>
            </div>
          </div>
        </div>
        <br><br>
      </div>
    </div>
</div>

  </div>
</div>