.cool-btn {
  background: aquamarine;
    border: 0px;
    padding: 8px 27px;
    letter-spacing: 2px;
    box-shadow: 0px 1px 2px grey;
}

.cool-btn[disabled] {
  cursor: default;
    color: gray;
    background: lightgray;
    box-shadow: none;
}

.welcome-banner {
    background: antiquewhite;
    padding: 30px;
    box-shadow: 0px 1px 2px grey;
}

.margin30 {
  margin-top: 30vh;
}
.margin10 {
  margin-top: 10vh;
}

.main-header {
  box-shadow: 1px 1px 15px #eee;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  background: aliceblue;
}
.mainbanner {
  width: 100%;
  height: 270px;
  background: #0070bc;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

.maintitle {
  font-size: 38px;
  letter-spacing: 2px;
}

.nomarginbottom {
  margin-bottom: 0px !important;
}

.mainbutton {
  background: #0d0;
  padding: 5px;
  text-decoration: none;
  color: white;
  border-radius: 100px;
  border: 0px solid;
  font-size: 13px;
  font-weight: bold;
  padding-left: 23px;
  padding-right: 23px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.mainpromo {
  background: #f9f9f9;
  box-shadow: 0px 0px 2px gray;
  border-radius: 2px;
}

.promopadding {
  padding: 50px;
}

.mainpromo-title {
  letter-spacing: 2px;
    font-weight: bolder;
    font-size: 18px;
}
.promoprice {
  font-size: 24px;
    color: gray;
}
.promoprice2 {
  font-size: 18px;
    color: gray;
}
.mainpromo-features-title {
  color: #04f;
  font-size: 14px;
  font-weight: bolder;
}