    <div class="moda-header dialog-header-confirm" style="padding: 15px;">
        <h3 class="panel-title" style="color:white">Activar publicación</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="well well-sm">
                    <strong>Activar publicacion "{{post._name}}"</strong>
                </div>
            </div>
        </div>
        <div class="row" data-ng-show="post._type != 'free'">
            <div class="col-sm-12">
                Ingrese la cantidad de dias premium a dar 
                <input type="number" data-ng-model="activation.days" data-ng-disabled="activation.onlyActivate" 
                class="form-control" style="display: inline; width: 200px"/><br>
                <label for="onlyActivate">Solo activar, no agregar días premium</label>
                <input type="checkbox" id="onlyActivate" data-ng-model="activation.onlyActivate" data-ng-change="activation.days = 0"/><br><br>
            </div>
        </div>
        <div class="row" data-ng-show="post._type == 'free'">
            <div class="col-sm-12">
                <strong>Publicacion gratuita</strong>
            </div>
        </div>

    </div>
    <div class="panel-footer text-right">
            <button class="btn btn-default" data-ng-disabled="!valid()" data-ng-click="accept()">Activar</button>
            <button class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
        
    </div>
