<div class="row">
    <div class="col-sm-12 text-center">
        <hr>
        <h1> Historial de pagos </h1>
    </div>
</div>
<br><br>


<div data-ng-repeat="h in history" class="row">
    <div class="col-md-6 col-md-offset-3" >
        <div class="paid-history">
            <div class="row">
                <div class="col-sm-8">
                    <p data-ng-bind="formatDate(h.created_at) | date: 'dd/MM/yyyy \'a las\' h:mma'"></p>
                </div>
                <div class="col-sm-4 text-right">
                    <span data-ng-show="h.status == 'success'" class="label label-success">Pagado</span>
                    <span data-ng-show="h.status == 'failed'" class="label label-danger">Denegado</span>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <strong>Monto:</strong> {{h.amount | currency : '$' : 2}} <br>
                    <small>Publicaciones: <span data-ng-repeat="p in h.posts">{{$last ? p._name : p._name + ', '}}</span> </small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-show="(!history || history.length == 0) && ajaxLoading == 0">
    <h2>No se ha realizado ningún pago</h2>
</div>
