<div class="row">
    <div class="col-sm-12 text-center">
        <hr>
        <h1>Publicaciones</h1>
    </div>
</div>
<br><br>
<div>
    <div class="row" data-ng-show="user.notifications.missing_post_translations.length > 0">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger">
                <i class="glyphicon glyphicon-exclamation-sign"></i> Atencion! Hay publicaciónes que les faltan la traducción a algún idioma!!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <div class="row post-list-item" data-ng-class="{'post-list-danger' : p._status != 'active', 'post-list-event': p._type == 'event'}"  data-ng-repeat="p in posts">
              <div class="col-sm-12">
                    <!-- Mensage de error en caso de que haya algun problema con la publicacion -->
                    <div class="row" data-ng-show="p._status != 'active'">
                        <div class="col-sm-12">
                            <div data-ng-show="p._status == 'blocked'">
                                <div class="alert alert-danger">La publicación ha sido bloqueada por un administrador
                                </div>
                            </div>
                        </div>
                    </div>

                  <!-- Titulo -->
                  <div class="row">
                      <div class="col-sm-12 post-list-title">
                           <span class="glyphicon glyphicon-star" data-ng-show="p._type != 'free' && p._type != 'event'" style="color: #bb0"></span>
                           
                           <span data-ng-show="p._type == 'event'" style="color: #00c">Evento</span>
                           {{p._name}} ({{p.zone_name}})
                           
                         

                          <!-- Boton de borrar -->
                          <div class="pull-right" data-ng-click="deletePost(p.id)">
                            <span style="cursor:pointer" class="glyphicon glyphicon-trash"></span>
                          </div>
                          <!-- Boton de editar-->
                          <div class="pull-right" data-ng-click="go('/posts/' + p.id)">
                            <span style="cursor:pointer" class="glyphicon glyphicon-pencil"></span>
                          </div>
                          

                      </div>
                  </div>

                  <!-- Datos -->
                  <div class="row">
                      <div class="col-sm-3">
                          <img data-ng-src="uploads/posts/logos/{{p.logo}}" width="120" height="100">
                      </div>
                      <div class="col-sm-9 post-list-detail">

                        <div data-ng-if="p.ratingStars >= 0">
                                Valoracion: <span class="glyphicon glyphicon-star" style="color: #990" data-ng-repeat="x in [].constructor(p.ratingStars) track by $index"></span> ({{p.rating}})
                        </div>
                        <div data-ng-if="p.ratingStars == -1">
                                Sin valoración.
                        </div>

                          Categorias: <i data-ng-repeat="cat in p.categories">{{$last ? cat.name : cat.name + ', '}}</i><br>
                          Teléfono: {{p.phone}} <br/>
                          Direccion: {{p.address}} <br/>
                          <div data-ng-show="p._type != 'free'">

                            <strong>Descripción</strong> <br>
                            <span data-ng-bind-html = "p.description | newlineHtml"></span>
                          </div>

                      </div>
                  </div>
                  <!-- Datos de pago y estado de publicacion -->
                  <br>
                  <div class="row" data-ng-if="p._type != 'event'" data-ng-show="p._status == 'active'">
                    <div class="col-sm-3">
                        <span style="color:#090" data-ng-show="p.secondsToExpire > 0">Publicacion activa</span>
                        <span style="color:#900" data-ng-show="p.secondsToExpire == 0">Publicacion vencida</span>
                    </div>
                    <div class="col-sm-9" data-ng-show="p._type != 'free'">
                        <uib-progressbar animate="false" value="getProgressValue(p)" type="getProgressBarType(p)">
                          {{secondsToStr(p.secondsToExpire)}} restantes
                        </uib-progressbar>
                    </div>
                    <div class="col-sm-9" data-ng-show="p._type == 'free'">
                        <uib-progressbar animate="false" value="getProgressValue(p)" type="getProgressBarType(p)">
                            Publicacion gratuita
                        </uib-progressbar>
                    </div>

                  </div>
                  <div data-ng-show="p._type == 'event'">
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                            <strong>Encuentros:</strong><br>
                            <ul>
                                <li data-ng-repeat="m in p.meetings">
                                    {{formatDate(m.start_time) | date: 'dd/MM/yyyy \'a las\' h:mma'}} -> {{formatDate(m.end_time) | date: 'dd/MM/yyyy \'a las\' h:mma'}} <br>
                                    <small>{{m.description}}</small>
                                </li>
                            </ul>
                        </div>
                      </div>
                  </div>
                  <div class="row"  data-ng-show="user.notifications.missing_post_translations.includes(p.id) > 0">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <i class="glyphicon glyphicon-exclamation-sign"></i> Atencion! Faltan traducir elementos.
                        </div>
                    </div>
                  </div>


              </div>
          </div>
        </div>
    </div>
</div>
