<div class="row">
    <div class="col-sm-12 text-center">
        <hr>
        <h1>
            {{post.id ? post.disableEditing ? 'Ver' : 'Editar ' : 'Nueva '}} publicación
        </h1>
    </div>
</div>
<br>
<div class="row" data-ng-show="checkRole('admin') && post._status != 'blocked'">
    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-danger" data-ng-click="blockPost()">Bloquear publicacion</button>
    </div>
</div>
<div class="row" data-ng-show="post._status == 'blocked'">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-danger">La publicación ha sido bloqueada por un administrador.</div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-sm-4">
                <label for="type">Tipo de publicación</label>
            </div>
            <div class="col-sm-8">
                <select id="type" data-ng-model="post.type" class="form-control" data-ng-change="typeChanged()"
                 data-ng-disabled="post.disableEditing">
                    <option value="free">Gratuita</option>
                    <option value="silver">Plata</option>
                    <option value="gold">Oro</option>
                    <option data-ng-if="checkRole('event_manager')" value="event">Evento</option>
                </select>
            </div>
        </div>
        <br/>

        <div uib-collapse="post.type != 'gold'">
            <div class="row"  data-ng-hide="post.disableEditing">
                <div class="col-sm-12">
                      <input type="file" id="album" image-control on-change="finishLoadingAlbum()" maxnum="5" class="inputfile" multiple accept=".jpg, .png" base-sixty-four-input ng-model="post.album"></input>
                      <label for="album" class="btn btn-success">Seleccionar fotos (5 maximas) <i class="required">*</i></label><span class="glyphicon glyphicon-star" style="color: #bb0"></span>

                </div>
            </div>
            <br/>
            <div class="row" uib-collapse="!post.album || post.album.length == 0">
              <div class="col-sm-12">
                  <strong>Album de fotos:</strong>
              </div>
                <div class="col-sm-12">
                    <div class="album-item" data-ng-repeat="img in post.album track by $index">

                        <div class="pull-right" data-ng-hide="post.disableEditing" data-ng-click="deleteImg($index)">
                            <span style="cursor:pointer" class="glyphicon glyphicon-trash"></span>
                        </div>
                        <div class="clearfix">

                        </div>
                    
                        <img class="album-img" data-ng-src="{{img.base64 ? 'data:image/png;base64,'+ img.base64 : 'uploads/posts/photos/' + img.image}}" />
                       
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label for="">Teléfono de contacto <i class="required">*</i></label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" data-ng-model="post.phone"  data-ng-disabled="post.disableEditing"/>
            </div>
        </div>
     
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Dirección <i class="required">*</i></label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" data-ng-model="post.address"  data-ng-disabled="post.disableEditing"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Seleccionar zona <i class="required">*</i></label>
            </div>
            <div class="col-sm-8">
                <select data-ng-model="post.zone_id"  class="form-control" ng-options="zone.id as zone._name for zone in allZones"  data-ng-disabled="post.disableEditing">
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Categorias <i class="required">*</i></label>
            </div>
            <div class="col-sm-8">
                <div data-ng-show="post.categories.length > 0">
                    <!-- Categoria seleccionada -->
                    <strong>
                        <span data-ng-repeat="cat in post.categories">{{$last? cat.name : cat.name+', '}}</span>

                    </strong>
                    <button class="btn btn-default"  data-ng-hide="post.disableEditing" data-ng-click="openCategorySelector()">Cambiar</button>
                </div>
                <div data-ng-hide="post.categories.length > 0">
                    <!-- Categoria sin seleccionar -->
                    <button class="btn btn-success"  data-ng-hide="post.disableEditing" data-ng-click="openCategorySelector()">Seleccionar categorias</button>
                </div>
            </div>
        </div>

        <br><br>
        <div class="row">
            <div class="col-sm-6 text-center databox">
                <div class="row">
                    <div class="col-sm-12">
                        <label for=""  data-ng-hide="post.disableEditing">Seleccione una logo de la publicación <i class="required">*</i></label>
                    </div>
                    <div class="col-sm-12">
                      <input type="file" id="filelogo" class="inputfile" image-control accept=".jpg, .png" base-sixty-four-input ng-model="post.image"></input>
                      <label for="filelogo"  data-ng-hide="post.disableEditing" class="btn btn-success">{{post.image ? 'Cambiar logo' : 'Seleccionar logo'}}</label>
                      <hr>

                        <img data-ng-show="post.image" class="img-responsive" style="width: 100%" data-ng-src="{{'data:image/png;base64,'+ post.image.base64}}" />
                        <img data-ng-hide="post.image || !post.logo"  style="width: 100%" class="img-responsive" data-ng-src="{{'uploads/posts/logos/'+ post.logo}}" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center databox">
                <label for=""> Posicion geográfica <i class="required">*</i><br></label>
               
                <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{gmapParams}}">
                    <!-- Mapa configurado para nuevo post -->
                    <ng-map data-ng-if="!post.id" center="-42.811523, -65.017090" zoom="11">
                        <marker  position="-42.811523, -65.017090" on-dragend="setLatLon($event)" draggable="true"></marker>
                    </ng-map>
                    <!-- Mapa configurado para editar el post -->
                    <ng-map data-ng-if="post.id" center="{{post.lat}}, {{post.lon}}" zoom="15">
                        <marker position="{{post.lat}}, {{post.lon}}" on-dragend="setLatLon($event)" draggable="{{post.disableEditing ? 'false' : 'true'}}"></marker>
                    </ng-map>

                </div>
            </div>
        </div>
<br><br>
<div class="row">
    <div class="col-xs-12">
        <uib-tabset>
            <uib-tab data-ng-select="selectedTab=$index"  index="$index"
             data-ng-repeat="lang in languages" heading="{{lang._name}}">
                <div class="post-tab-content"> <!--Cosas traducibles-->
                    <div >
                        <br>
                        <div class="row"> 
                            <div class="col-sm-4">
                                <label for="">Nombre la publicación <i class="required">*</i></label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" data-ng-model="post._name[lang.id]"  data-ng-disabled="post.disableEditing"/>
                            </div>
                        </div>
        
                        <div uib-collapse="post.type == 'free'">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="">Descripcion <i class="required">*</i>({{maxDescLen - post.description[lang.id].length}} caracteres restantes)<span class="glyphicon glyphicon-star" style="color: #bb0"></span> </label>
                                </div>
                                <div class="col-sm-12">
                                    <textarea class="form-control" data-ng-model="post.description[lang.id]" maxlength="{{maxDescLen}}" style="height: 120px"  data-ng-disabled="post.disableEditing"></textarea>
                                </div>
                            </div>
                            <br/>
                        </div>
        
                        <!-- Eventos -->
                        <div uib-collapse="post.type != 'event'">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                            <div class="col-sm-12">
                                                <label for="">Encuentros<span class="glyphicon glyphicon-star" style="color: #bb0"></span></label><br>
                                                <small>Ingrese los dias y las horas en las cuales se producirá el evento</small>
                                            </div>
                                                <div class="col-sm-10 col-sm-offset-1">
                                                    <multiple-date-picker moment="moment" ng-model="datesArray"></multiple-date-picker>
                                                </div>
                                                <div class="col-sm-12">
                                                    <table class="table">
                                                        <thead>
                                                            <th class="col-sm-3">Fecha</th>
                                                            <th class="col-sm-3">Descripción</th>
                                                            <th class="col-sm-2">Inicio</th>
                                                            <th class="col-sm-2">Fin</th>
                                                            <th class="col-sm-2">Se cancela si llueve</th>
                                                        </thead>
                                                        
                                                        <tbody data-ng-repeat="(key, meetings) in meetingsMap track by $index">
                                                            <tr data-ng-repeat="meeting in meetings track by $index">
                                                                <td> <i data-ng-show="$first"><button class="btn btn-success" data-ng-click="addHour(meetings)">+</button>&nbsp;{{key}}</i>
                                                                    <button data-ng-show="!$first" class="btn btn-danger" data-ng-click="removeHour(meetings, $index)">-</button>
                                                                </td>
                                                                <td><input type="text" data-ng-model="meeting.description[lang.id]" placeholder="Ingrese descripción" class="form-control"/></td>
                                                                <td>
                                                                    <input type="time" class="form-control" step="60" data-ng-model="meeting.start_time._d">
                                                                </td>
                                                                <td>
                                                                    <input type="time" class="form-control" step="60" data-ng-model="meeting.end_time._d">
                                                                </td>
                                                                <td><input type="checkbox" data-ng-true-value="1" data-ng-false-value="0" data-ng-model="meeting.cancel_if_rains"/> </td>
                                                                </tr>
                                                        </tbody>
                                                    </table>
                                                </div> 
                
                
                                            </div>
                                            <div class="row" uib-collapse="!meetingErrors || meetingErrors.length == 0">
                                                <div class="col-sm-12">
                                                    <div class="alert alert-danger">
                                                            <ul>
                                                                <li data-ng-repeat="err in meetingErrors">{{err}}</li>
                                                            </ul>
                                                    </div>
                                                 
                
                                                </div>
                                            </div>
                                    </div>
                                </div>
                
                            <br/>
                        </div> <!-- Fin eventos-->
        
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="">Link a pagina web</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" data-ng-model="post.weblink[lang.id]" data-ng-disabled="post.disableEditing"/>
                            </div>
                        </div>
        
        
                    </div>
                </div> <!-- Fin de cosas traducibles -->
                <br>
                
            </uib-tab>
        </uib-tabset>
    </div>
</div>

        <!-- Confirm button -->
        <br><br>
        <div class="row">
            <div class="col-sm-12 text-center"  data-ng-hide="post.disableEditing">
                <!--<button class="btn btn-success"  data-ng-click="test()">TEST</button>-->
                <strong>Campos marcados con <i class="required">*</i> obligatorios</strong><br><br>
                <button class="btn btn-success" data-ng-disabled="!validate() || ajaxLoading > 0" data-ng-click="savePost()">Guardar
                    publicacion</button>
            </div>
        </div>
        <hr>
    </div>
</div>
