<!-- Inicio plantilla -->
<script type="text/javascript" charset="UTF-8"></script><script type="text/ng-template" id="select_category.html">
    <div ui-tree-handle class="tree-node tree-node-content">
      <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
          class="glyphicon"
          ng-class="{
            'glyphicon-chevron-right': collapsed,
            'glyphicon-chevron-down': !collapsed
          }"></span></a>
          <div style="display:inline">
                {{node.name}}
          </div>

          <div class="pull-right" data-ng-show="node.selected">
              <button class="btn btn-success btn-xs" data-ng-click="removeCategory(node)" ><span class="glyphicon glyphicon-ok"></span></button>
          </div>
          <div class="pull-right" data-ng-hide="node.selected">
            <button class="btn btn-default btn-xs" data-ng-click="selectCategory(node)"><span class="glyphicon glyphicon-remove" style="color:transparent"></span></button>
        </div>
          <div class="clearfix"></div>

    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
      <li ng-repeat="node in node.nodes" ui-tree-node collapsed="true" ng-include="'select_category.html'">
      </li>
    </ol>
</script>
<!-- Fin plantilla -->
    
    
<div class="modal-header dialog-header-confirm" style="padding: 15px;">
    <h3 class="panel-title" style="color:white">Categorias</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-12">
            <h4>Cantidad maxima para tipo de publicación "{{post.type}}" {{catsByPostType[post.type].max_categories}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div ui-tree data-drag-enabled="false">
                <ol ui-tree-nodes="" ng-model="list" id="tree-root">
                    <li ng-repeat="node in list" ui-tree-node collapsed="true" ng-include="'select_category.html'"></li>
                </ol>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" data-ng-show="selecteds && selecteds.length > 0">
            <strong>Categorías seleccionada: <i data-ng-repeat="c in selecteds">{{$last ? c.name : c.name + ", "}}</i></strong>
        </div>
    </div>
</div>
<div class="panel-footer text-right">
    <button class="btn btn-default" data-ng-click="accept()" data-ng-disabled="!(selecteds && selecteds.length > 0)">Aceptar</button>
</div>
