.post-list-item {
  border: 1px solid gray;
  margin-bottom: 12px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px #888;
  padding: 2px;
  padding-top: 10px;
  background: #f5f5dc;
}
.post-list-danger {
  box-shadow: 0px 0px 0px #888 !important;
  background: #ff8888 !important;
}

.active-tab {
  background: lightblue;
}
.album-item {
  float: left;
  margin: 6px;
  border: 1px solid lightgray;
  padding: 3px;
}
.album-img {
  width: 80px;
  height: 80px;
}


.post-list-title {
  font-size: 18px;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 700;
}
.post-list-event {
  background: #ddf;

}
.post-list-detail {
  color: #888;
    font-size: 13px;
}

.post-unpaid{background-color: #faa}

.paid-history {
  background: #ececec;
  padding: 7px;
  margin: 4px;
  box-shadow: 0px 1px 2px grey;
}

.event-panel {
  border: 1px solid #aaa;
  border-radius: 6px;
}

.required {
  color: red;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.post-tab-content {
  background: #ddd;
   padding: 8px;
   border-radius: 2px;
   border: 1px solid #ddd;

}