<nav class="navbar navbar-default" data-ng-class="{'nomarginbottom' : isPublicPath()}">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span data-ng-show="checkRole('admin')">ADMIN</span>
        <span data-ng-show="checkRole('client')">CLIENT</span>
      </a>
    </div>
    <ul class="nav navbar-nav" data-ng-show="user">
      <li class="active"><a href="#!/post_list">Home</a></li>

      <!-- DROPDOWN PUBLICACIONES-->
      <li class="dropdown" data-ng-show="checkRole('client')">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="glyphicon glyphicon-exclamation-sign" style="color:red" data-ng-show="user.notifications.missing_post_translations.length > 0"></i>Publicaciones
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#!/post_list">Mis Publicaciones</a></li>
          <li><a href="#!/payments">Pagos</a></li>
          <li><a href="#!/payment_history">Historial de Pagos</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#!/posts/new">Nueva Publicacion</a></li>
        </ul>
      </li>

      <!-- DROPDOWN ZONAS-->
      <li class="dropdown" data-ng-show="checkRole('admin')">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zonas
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#!/zone_list">Lista Zonas</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#!/add_zone">Nueva Zona</a></li>
          <li><a href="#!/static_info/list">Información regional</a></li>
        </ul>
      <!-- DROPDOWN USER ADMIN-->
      <li class="dropdown" data-ng-show="checkRole('admin')">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#!/register_admin" data-ng-show="checkRole('admin')">Agregar administradores</a></li>
          <li><a href="#!/client_manager" data-ng-show="checkRole('admin')">Administrar clientes</a></li>
        </ul>






      </li>
      <!-- DROPDOWN CATEGORIAS-->
      <li class="dropdown" data-ng-show="checkRole('admin')">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="glyphicon glyphicon-exclamation-sign" style="color:red" data-ng-show="user.notifications.categories.missing_translations > 0"></i>Categorias
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#!/categories">Modificar categorias</a></li>

        </ul>
      </li>
      <!-- Boton denuncias, para admins-->
      <li data-ng-show="checkRole('admin')" ><a href="#!/reports">Denuncias</a></li>
      <!-- Boton promos para admin-->
      <li data-ng-show="checkRole('admin')" ><a href="#!/promos">Precios</a></li>
      <!-- Boton promos para admin-->
      <li data-ng-show="checkRole('admin')" ><a href="#!/languages">Lenguajes</a></li>
      <!-- Boton facturacion para admin-->
      <li data-ng-show="checkRole('admin')" ><a href="#!/billing">Facturacion
      <span data-ng-show="paymentsNotBilled > 0" class="label label-success">{{paymentsNotBilled}}</span>
      </a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li  data-ng-show="!user"><a href="#!/login">Ingresar</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-ng-show="user" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">{{user.name}}
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#!/account_info" data-ng-show="checkRole('client')">Modificar datos</a></li>
          <li><a href="#!/change_password">Cambiar contraseña</a></li>
       

          <li role="separator" class="divider"></li>
          <li><a href="#" data-ng-click="logout()" data-ng-show="user">Cerrar sesión</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>