<div class="row">
    <div class="col-sm-12 text-center">
        <hr>
        <h1>Facturacion</h1>
    </div>
</div>

<!--<div class="row">
    <div class="col-sm-12 well well-sm">
        <span>Ordenar por </span>
        <select data-ng-model="filter.order" class="form-control  input-sm" style="width: 150px; display: inline;">
            <option value="status">Estado</option>
            <option value="payment_date">Fecha de pago</option>
        </select>
        <select data-ng-model="filter.order_mode" class="form-control input-sm" style="width: 150px; display: inline;">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
        </select>
        <button class="btn btn-default btn-sm" data-ng-click="getPayments()">Buscar</button>

    </div>
</div>-->

<ul data-ng-if="data.payments && data.payments.length > 0" max-size="6" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" 
    items-per-page="data.page_size" uib-pagination total-items="data.total_items" ng-model="filter.page" ng-change="search()">
</ul>

<div data-ng-repeat="payment in data.payments">
    <div class="row bill-info">
        <div class="col-sm-12">
            <br>
            Pago realizado. Usuario <i><strong>{{payment.user.email}}</strong></i> el {{formatDate(payment.created_at) | date: 'dd/MM/yyyy \'a las\' h:mma'}}
            <hr>
            <span class="total-label"><strong>Total:</strong><i>${{payment.amount}}</i><br></span>

            <strong style="text-color: #222">Datos de facturación:</strong><br>
            <strong>Razón social:</strong><i>{{payment.account.bussiness_name}}</i><br>
            <strong>Cuil/Cuit:</strong><i>{{payment.account.cuit}}</i><br>
            <strong>Dirección:</strong><i>{{payment.account._address}} {{payment.account.address_number}}, 
                    {{payment.account.city}} ({{payment.account.postal_code}}), {{payment.account.province}}
            </i><br>
            <strong>Teléfono:</strong><i>{{payment.account.phone}}</i><br><br>
            <strong>Fecha de facturación:</strong>
            <i data-ng-show="payment.billed_date">{{formatDate(payment.billed_date) | date: 'dd/MM/yyyy \'a las\' h:mma'}}</i>
            <i data-ng-hide="payment.billed_date" class="not-billed"> <i class="glyphicon glyphicon-exclamation-sign" style="color:red"></i> Factura no realizada todavía</i>
            <br>

            <div class="row">
                <div class="col-md-4">
                        <input type="text" data-ng-disabled="payment.billed_date && !payment.editBill" placeholder="Numero de factura" class="form-control" data-ng-model="payment.bill_number"/>
                </div>
                <div class="col-md-4">
                        <button data-ng-hide="payment.billed_date" class="btn btn-success" data-ng-click="saveBill(payment)">Guardar y marcar como facturado</button>
                        <button class="btn btn-success" data-ng-hide="payment.editBill || !payment.billed_date" data-ng-click="payment.editBill = true">Editar numero de factura</button>
                        <button data-ng-show="payment.billed_date" data-ng-hide="!payment.editBill" class="btn btn-success" data-ng-click="saveBill(payment)">Guardar</button>
                </div>
            </div>


            <br>
        </div>
    </div> 
    <br>
</div>


<ul data-ng-if="data.payments && data.payments.length > 0" max-size="6" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" 
        items-per-page="data.page_size" uib-pagination total-items="data.total_items" ng-model="filter.page" ng-change="search()">
</ul>

