.total-label {
    font-size: 26px;

}

.not-billed {
    color: brown;
}

.bill-info {
    background: aliceblue;
    /* margin: 0px; */
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #aaa;
}