.post {
  background: #aaf;
    padding: 7px;
    margin-bottom: 11px;
    border-radius: 7px;
    border: 2px solid #99f;
    box-shadow: 2px 2px 8px #aaa;
}

.unpaid {
    background: #faa;
    border: 2px solid #f99;
}
