<h2>Categorias&nbsp;<button class="btn btn-success" data-ng-click="save()"
        data-ng-disabled="getValidationErrors().length > 0">Guardar</button></h2>

<hr>
<div class="row" data-ng-show="user.notifications.categories.missing_translations > 0">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-danger">
            <i class="glyphicon glyphicon-exclamation-sign"></i> Atencion! Hay categorias que les faltan la traducción a algún idioma!!
        </div>
    </div>
</div>

<!-- Nested node template -->
<script type="text/javascript" charset="UTF-8"></script>
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
      <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
          class="glyphicon"
          ng-class="{
            'glyphicon-chevron-right': collapsed,
            'glyphicon-chevron-down': !collapsed
          }"></span></a>

          <div data-ng-show="node.editing" style="display:inline">
            <input type="text" data-ng-model="node.name[lang.id]" data-nodrag class="form-control" style="width: 150px;display:inline" maxlength="30"/> 
            <div style="display:inline; cursor:pointer" data-nodrag  data-ng-click="node.editing = false">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
          </div>
          <div style="display:inline">
            <img data-ng-if="!node.new_image && node.image" style="border-radius:100%" width="30px" height="30px" data-ng-src="{{'uploads/categories/'+ node.image}}" />
            <img data-ng-show="node.new_image" style="border-radius:100%" width="30px" height="30px" data-ng-src="{{'data:image/png;base64,'+ node.new_image.base64}}" />
          
        </div>
          <div data-ng-hide="node.editing" style="display:inline">
                {{node.name[lang.id]}} 
                <span data-ng-if="!node.name[lang.id]" style="color:red">Falta traduccion</span>
                <span data-ng-show="node.id" style="font-size: 12px; color:#aaa">({{node.post_count_self}} de {{node.post_count_childs}} publicaciones anidadas)</span>
                <div style="display:inline; cursor:pointer" data-nodrag  data-ng-click="node.editing = true">
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
          </div>

          <div style="display:inline">
            <input type="file" ng-attr-id="filelogo{{node.lid}}" class="inputfile" accept=".jpg, .png" data-rel="1" data-rel-margin="0" image-control data-max-w="512" data-max-h="512" base-sixty-four-input data-ng-model="node.new_image"/>
            <label data-nodrag  ng-attr-for="filelogo{{node.lid}}"  style="cursor:pointer"><span class="glyphicon glyphicon-picture"></span></label>
          </div>
          <div style="display:inline" data-nodrag data-ng-show="depth() == 1">
            <button data-ng-disabled="node.post_count_childs && node.post_count_childs > 0" data-ng-show="node.events_category" data-ng-click="node.events_category = false"
             class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Categoria de eventos</button>
            <button data-ng-disabled="node.post_count_childs && node.post_count_childs > 0"  data-ng-hide="node.events_category" data-ng-click="node.events_category = true"
            class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Categoria de eventos</button>
          </div>

      <a class="pull-right btn btn-danger btn-xs" data-ng-show="!node.post_count_childs || node.post_count_childs == 0" data-nodrag ng-click="remove(this)"><span
          class="glyphicon glyphicon-remove"></span></a>
      <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newCategory(node)" style="margin-right: 8px;"><span
          class="glyphicon glyphicon-plus"></span></a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
      <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
      </li>
    </ol>
  </script>


<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <th>Tipo de publicación</th>
                <th>Maximas categorias permitidas</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="(key, value) in catsConfig">
                    <td>{{key}}</td>
                    <td><input type="text" class="form-control" data-ng-model="value.max_categories"
                            style="width: 100px" min="1" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="well well-sm">
    <button class="btn btn-primary" data-ng-click="newCategory(null)">Agregar categoria principal</button>
    
</div>

<div class="alert alert-danger" data-ng-show="getValidationErrors().length > 0">
    <strong>ATENCIÓN</strong><br>
    <ul>
        <li data-ng-repeat="err in getValidationErrors()">{{err}}</li>
    </ul>

</div>

<uib-tabset>
    <uib-tab data-ng-select="selectedTab=$index" index="$index" data-ng-repeat="lang in languages"
        heading="{{lang._name}}">
        <div class="post-tab-content">
            <div ui-tree>
                <ol ui-tree-nodes="" ng-model="list" id="tree-root">
                    <li ng-repeat="node in list" collapsed="true" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>
    </uib-tab>
</uib-tabset>



<hr>