
<div class="row">
    <div class="col-sm-12 well well-sm">
        <span>Filtro: </span>
        <input type="text" data-ng-model="filter.text" class="form-control input-sm" style="width: 150px; display: inline;">
        <span>Ordenar por </span>
        <select data-ng-model="filter.order" class="form-control  input-sm" style="width: 150px; display: inline;">
            <option value="status">Estado</option>
            <option value="client_email">Usuario</option>
            <option value="date">Fecha de denuncia</option>
            
        </select>
        <select data-ng-model="filter.order_mode" class="form-control input-sm" style="width: 150px; display: inline;">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
        </select>
        <button class="btn btn-default btn-sm" data-ng-click="search()">Buscar</button>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <ul data-ng-if="data.reports && data.reports.length > 0" max-size="6" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="data.page_size" uib-pagination total-items="data.total_items" ng-model="filter.page" ng-change="search()"></ul>

        <table class="table text-left">
            <thead>
                <th>Fecha</th>
                <th>Publicación</th>
                <th>Usuario</th>
                <th>Mensaje</th>
                <th></th>
            </thead>
            <tbody>
                <tr data-ng-repeat="rep in data.reports" data-ng-class="{'notseen' : rep._status != 'seen'}">
                    <td>{{formatDate(rep.created_at) | date: 'dd/MM/yyyy \'a las\' h:mma'}}</td>
                    <td><a href="#!/posts/{{rep.post_id}}">{{rep.post_name}}</a></td>
                    <td>{{rep.user}}</td>
                    <td>{{rep.message}}</td>
                    <td><button class="btn btn-default btn-sm" data-ng-disabled="rep._status != 'not_seen'" data-ng-click="markAsReaded(rep)">Leer</button></td>
                </tr>
            </tbody>
        </table>
        <ul data-ng-if="data.reports && data.reports.length > 0" max-size="6" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="data.page_size" uib-pagination total-items="data.total_items" ng-model="filter.page" ng-change="search()"></ul>

    </div>
</div>

<!--<div class="row">
        <div class="col-sm-4">
            <div data-ng-repeat="r in reports" data-ng-click="selectReport(r)" class="report-list" data-ng-class="{'selected-report' : selectedReport.id == r.id }">
                    <span data-ng-show="r._status != 'not_seen'">{{r.post_name}}</span>
                    <span data-ng-show="r._status == 'not_seen'"><strong>{{r.post_name}}</strong></span>
            </div>
        </div>
        <div class="col-sm-8" data-ng-if="selectedReport">
             <p style="font-weight: bold" data-ng-bind="formatDate(selectedReport.created_at) | date: 'dd/MM/yyyy \'a las\' h:mma'"></p>
            <p >{{selectedReport.message}}</p>
        </div>
    
</div>
<div class="row">
    <div class="col-sm-12 text-right">
        <button class="btn btn-default" data-ng-click="showPost()" data-ng-disabled="!selectedReport">Ver publicación</button>
        <button class="btn btn-default" data-ng-click="markAsReaded()" data-ng-disabled="selectedReport._status != 'not_seen'">Marcar como leido</button>
    </div>
</div>-->