.report-list {
    cursor: pointer;
    padding: 9px;
    border: 1px solid #eee;
}
.report-list:hover {
    background: #ccc;
}
.selected-report {
    background: #ccf !important;
}
.notseen {
    background: #ffa;
}