<div class="row">
    <div class="col-sm-12 text-center">
        <hr>
        <h1>Nueva Zona</h1>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-sm-4">
                <label for="">Nombre de la Zona</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" data-ng-model="zone._name"></input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Descripcion</label>
            </div>
            <div class="col-sm-8">
                <textarea rows="5" cols="60" <input class="form-control" data-ng-model="zone._description"></input>>            
                </textarea>
            </div>
        </div>
    </div>
</div>
<!-- Confirm button -->
<br><br>
<div class="row">
    <div class="col-sm-12 text-center">
        <!--<button class="btn btn-success"  data-ng-click="test()">TEST</button>-->

        <button class="btn btn-success" data-ng-disabled="!validate()" data-ng-click="saveZone()">Guardar
            zona</button>
    </div>
</div>
<hr>
</div>
</div>