<div class="row">
    <div class="col-sm-12 text-center">
        <hr>
        <h1> Zonas</h1>
    </div>
</div>
<br><br>
<div class="row"><!--s-->
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th> Zona </th>
                        <th> Descripcion </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="z in zones">
                        <td>{{z._name}}</td>
                        <td>{{z._description}}</td>
                        <td> <button class="btn btn-default btn-xs" role="button" data-ng-click="deleteZone(z.id)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>